{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <!-- Top Header Section -->
    <div class="bg-light py-2 border-bottom">
      <div class="container">
        <div class="row text-center text-md-start">
          <!-- Contact Information -->
          <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
            <span class="me-2"><i class="bi bi-telephone"></i> +5356752196</span>
            <span><i class="bi bi-envelope"></i> daniherzdeveloper@gmail.com</span>
          </div>
          <!-- Social Media Icons -->
          <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end mt-2 mt-md-0">
            <a href="#" class="text-dark me-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-dark me-2"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-dark me-2"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">Brand</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Property
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Sell</a></li>
                <li><a class="dropdown-item" href="#">Rent</a></li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> {{ user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                  {% if request.user.is_authenticated and request.user.profile.activo_para_publicar %}
                      <li><a class="dropdown-item" href="{% url 'mis_propiedades' %}">Mis Propiedades</a></li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'suscripcion' %}">Suscripción</a>
                  </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                        </form> 
                    </li>
                </ul>
            </li>
            {% else %}
            <form class="justify-content-center">
              <a href="{% url 'login' %}" class="btn btn-success me-2">Login</a>
              <a href="{% url 'registro' %}" class="btn btn-outline-success">Register</a>
            </form>
            {% endif %}
          </ul>
        </div>    
      </div> 
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
